@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #153865;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: axiformaRegular;
    src: url("../src/assets/Fonts/Axiforma/Axiforma-Regular.ttf") format("opentype");
}
@font-face {
    font-family: axiformaMedium;
    src: url("../src/assets/Fonts/Axiforma/Axiforma-Medium.ttf") format("opentype");
}
@font-face {
    font-family: axiformaSemiBold;
    src: url("../src/assets/Fonts/Axiforma/Axiforma-SemiBold.ttf") format("opentype");
}
@font-face {
    font-family: axiformaBold;
    src: url("../src/assets/Fonts/Axiforma/Axiforma-Bold.ttf") format("opentype");
}

.text-hover {
    -webkit-text-stroke: 1px #EA358C;
    -webkit-text-fill-color: white;
}